node_modules
dist
build

.env.dev
.env.prod
.env.staging

src/hiyokoWorker/materialMessageConverter/pushMessageJSON/*
src/hiyokoWorker/materialMessageConverter/rawLocalJSON/*

prac

# serverless directories
.serverless
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
