<!doctype html>
<html lang="en">

  <%- include('common/header', { title: '??' }) %>

  <body>
    <!-- html goes here -->
    <h1>Index.html</h1>

    <%- include('common/script') %>

    <%- include('js/???') %>
  </body>
</html>