<html lang="en">
  <head>
    <%- include('common/header', { title: 'vocabularyLists' }) %>

    <%- include('css/vocabularyLists') %>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-vocabularyLists-home-tab" data-toggle="tab" href="#nav-vocabularyLists-home" role="tab" aria-controls="nav-vocabularyLists-home" aria-selected="true">
            Voca-Meaning <span class="badge badge-light js-vocabularyLists-num"></span>
          </a>
            <!-- TODO: today's new words / entire words -->
          <a class="nav-item nav-link" id="nav-vocabularyLists-contextSentence-tab" data-toggle="tab" href="#nav-vocabularyLists-contextSentence" role="tab" aria-controls="nav-vocabularyLists-contextSentence" aria-selected="false">
            Voca-Context
          </a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-vocabularyLists-home" role="tabpanel" aria-labelledby="nav-vocabularyLists-home-tab">
          <!-- vocabulary - meaning goes here -->
        </div>
        <div class="tab-pane fade" id="nav-vocabularyLists-contextSentence" role="tabpanel" aria-labelledby="nav-vocabularyLists-contextSentence-tab">
          <!-- vocabulary - context sentence goes here -->
        </div>
      </div>
      <!-- vocabulary list edit modal part -->
      <div class="modal fade vocabulary-list-edit-modal js-vocabulary-list-edit-modal" id="vocabularyListEditModalCenter" tabindex="-1"
        role="dialog" aria-labelledby="vocabularyListEditModalCenter" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalEditTitle">
                <!-- Title goes here -->
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="form-group">
                    <input
                      type="text"
                      id="vocaListIdEditInput"
                      value=""
                      hidden
                    >
                    <input
                      type="text"
                      id="vocaNameEditInput"
                      value=""
                      hidden
                    >
                    <input
                      type="text"
                      id="dateEditInput"
                      value=""
                      hidden
                    >
                  </div>
                  <div class="form-group">
                    <label for="meaningInput">Meaning(의미)</label>
                    <input
                      type="text"
                      class="form-control"
                      id="meaningEditInput"
                      placeholder="e.g) 거절하다 / 拒絶する"
                      autocapitalize="none"
                      value=""
                    >
                    <!-- meaning goes here -->
                  </div>
                  <div class="form-group">
                    <label for="meaningInput">Context Sentence(문맥)</label>
                    <textarea
                      rows="5"
                      class="form-control"
                      id="contextSentenceEditInput"
                      placeholder="e.g) Why did she turn down your invitation?"
                    >
                      <!-- context sentence goes here -->
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary js-vocabulary-list-edit-button" data-dismiss="modal">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('common/script') %>

    <%- include('js/vocabularyLists') %>
  </body>
</html>