<script>
  function init(data) {
    const container = document.querySelector('.container')

    new VocabularyListAddView({ container, data })
  }

  class VocabularyListAddPresenter {
    constructor(view) {
      this.view = view
    }

    async sendVocabularyListData({ userId, name, meaning }) {
      try {
        const result = await axios.post(`/<%= process.env.NODE_ENV %>/hiyokoSensei/liff/vocabularyList/add`, {
          userId, name, meaning
        })

        this.view.submitSuccess({ name })
      } catch(error) {
        alert(JSON.stringify(`Something went wrong! please retry a few minutes later`))
      }
    }
  }

  class VocabularyListAddView {
    constructor({ container, data }) {
      this.liffData = data
      this.presenter = new VocabularyListAddPresenter(this)
      this.container = container

      this.initMembers()
      this.initEvents()
    }

    initMembers() {
      this.vocabularyNameInput = this.container.querySelector('#vocabularyNameInput')
      this.meaningInput = this.container.querySelector('#meaningInput')
      this.submitInput = this.container.querySelector('#submitInput')
    }

    initEvents() {
      this.submitInput.addEventListener('click', this._onClickSubmitButton.bind(this))
    }

    submitSuccess({ name }) {
      this.vocabularyNameInput.value = ''
      this.meaningInput.value = ''

      const addResult = this.container.querySelector('#addResult')
      addResult.innerHTML = `
        <div class="alert alert-primary" role="alert">
          ${name} was successfully added
        </div>
      `
    }

    submitFail({ reason }) {
      const addResult = this.container.querySelector('#addResult')
      addResult.innerHTML = `
        <div class="alert alert-danger" role="alert">
          ${reason}
        </div>
      `
    }

    _onClickSubmitButton(e) {
      const userId = this.liffData.context.userId
      const name = this.vocabularyNameInput.value
      const meaning = this.meaningInput.value

      if (!name || !meaning) {
        const reason = 'You should fill out all three fields (name, meaning)'
        this.submitFail({ reason })
        return
      }

      this.presenter.sendVocabularyListData({
        userId, name, meaning
      })
    }
  }

  (() => {
    liff.init((data) => {
      init(data)
    })
  })()
</script>